/* src/style.scss */
body {
   background: grey;
}
$bluegrey: #2B3A42;

pre {
  padding: 20px;
  background: $bluegrey;
  color: #dedede;
  text-shadow: 0 1px 1px rgba(#000, .5);
}

.hello {
    background: url('./london.png');
}

.Grid {
  display: flex;
  flex-flow: row wrap;
}

.Grid-cell {
  flex: 1 0 25%;
  background: red;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
